@tailwind base;
@tailwind components;
@tailwind utilities;

.section-container {
    @apply max-w-6xl mx-auto text-center px-10 
}

.button-container {
    @apply flex flex-col justify-center w-full space-y-6
    text-xl text-white md:flex-row md:space-y-0 md:space-x-4
}

body {
    background-image: url('../images/bg-header-desktop.png');
    background-repeat: no-repeat;
    background-size: contain
}
@media(max-width: 576px) {
    body {
        background-image: url('../images/bg-header-mobile.png');
        
    }
}

@layer base {
    h1 {
        @apply text-3xl;        
    }

    h2 {
        @apply text-xl;
    }

    h3 {
        @apply mb-8 text-4xl font-bold text-darkGrayishBlue md:text-5xl
    }
}

@layer components {
    .btn-blue {
        @apply bg-blue-500 py-2 px-4 rounded-xl font-bold
        hover:bg-blue-700 text-white
    }
}

.content-area {
    @apply bg-green-200;
    height: theme('spacing.128')
}

@media screen(xl) {
    body {
        @apply bg-black text-white;
    }
}
