@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
        @apply text-3xl;        
    }

    h2 {
        @apply text-xl;
    }
}

@layer components {
    .btn-blue {
        @apply bg-blue-500 py-2 px-4 rounded-xl font-bold
        hover:bg-blue-700 text-white
    }
}

.content-area {
    @apply bg-green-200;
    height: theme('spacing.128')
}

@media screen(xl) {
    body {
        @apply bg-black text-white;
    }
}

@media(min-width: 1020px) {
    .bg-hero {
        width: 2000px;
        height: 300px;
        left: 30%;
        @apply absolute rounded-l-full top-52 bg-softBlue
    }
}
